/* universal properties */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* setting REM measure */
html{
    font-size: 62.5%;
}

body{
    height: 100vh;
    background-color: #D8D9D9;
}

/* principal container */
.main-box{
    width:40%;
    min-width:59rem;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

/* container´s style */
.container{
    width: 100%;
    padding: 3rem 3rem 5rem;
    background: linear-gradient(450deg, #193CBC, #181819);
    border: 0.2rem solid rgba(0, 0, 0, 0.06);
    border-radius: 1rem;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1rem);
}

/* setting font style for all child containers */
.container *{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: 800;
}

/* title */
h2{
    margin-bottom: 5rem;
    letter-spacing: 0.2rem;
    text-align: center;
    font-size: 3.4rem;
    font-weight: bold;
}

/* spacing between elements */
.sensors:not(:last-child){
    margin-bottom: 3rem;
}

/* elements text */
.details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

/* bars containers */
.menu{
    position: relative;
    border: 0.1rem solid #62C6F9;
    border-radius: 2rem;
}

/* percent bars */
.menu div{
    position: relative;
    width: 0;
    height: 0.8rem;
    border-radius: 1rem;
    background-color: #62C6F9;
}

/* 1 bar animation */
#battery-menu{
    animation: battery-bar 2s forwards;
}

/* 1 bar keyframes */
@keyframes battery-bar{
    100%{
        width: 87%;
    } 
}

/* 2 bar animation */
#fuel-menu{
    animation: fuel-bar 2s forwards;
}

/* 2 bar keyframes */
@keyframes fuel-bar{
    100%{
        width: 68%;
    }
}

/* 3 bar animation */
#oil-menu{
    animation: oil-bar 2s forwards;
}

/* 3 bar keyframes */
@keyframes oil-bar{
    100%{
        width: 75%;
    }
}

/* 4 bar animation */
#oxy-menu{
    animation: oxy-bar 2s forwards;
}

/* 4 bar keyframes */
@keyframes oxy-bar{
    100%{
        width: 80%;
    }
}